.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
  width: 100%; /* Cover full width of the parent */
  height: 100%; /* Cover full height of the parent */
  position: absolute; /* Positioned relative to the parent */
  top: 0; /* Align to the top */
  left: 0; /* Align to the left */
  z-index: 9999; /* Ensure it appears above other content */
}

.spinner {
  animation: spin 1s linear infinite;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top-color: #333;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
