.container {
  display: flex;
}

.menu {
  flex: 1;
  background: var(--bgSoft);
  padding: 20px;
  max-height: 100vh;
}

.content {
  flex: 4;
  padding: 20px;
  height: 100vh;
  overflow-y: scroll;
}
